@media (max-width: 550px) {
  html {
    font-size: 55%;
  }

  .navbar__menu {
    width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    row-gap: 0;
    justify-content: flex-end;
  }

  .navbar__brand,
  .navbar__brand:link,
  .navbar__brand:visited {
    height: 5rem;
    display: flex;
    align-items: center;
  }

  .navbar__brand.home-link {
    display: none;
  }

  .navbar__brand.home-icon {
    display: block;
    margin-top: 1rem;
  }

  .navbar__menu {
    gap: 0;
  }

  .section-featured-image img {
    aspect-ratio: 2.4 / 1;
  }

  .section-contact-form {
    padding: 1rem;
  }
}
